.fl-jc-center {
  display: flex;
  justify-content: center;
}
.fl-jc-sb {
  display: flex;
  justify-content: space-between;
}
.fl-jc-sa {
  display: flex;
  justify-content: space-around;
}
.fl-jc-end {
  display: flex;
  justify-content: end;
}
.fl-jc-start {
  display: flex;
  justify-content: start;
}
.fl {
  display: flex;
}
.fl-ai-c {
  display: flex;
  align-items: center;
}
.fl-ai-end {
  display: flex;
  align-items: flex-end;
}
.fl-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fl-ai-fs {
  display: flex;
  align-items: flex-start;
}

.fl-d-colmn {
  display: flex;
  flex-direction: column;
}
.fl-d-row {
  display: flex;
  flex-direction: row;
}
.fl-ai-end {
  display: flex;
  align-items: flex-end;
}

.blue {
  background-color: #4eb2f7;
}
.velvet {
  background-color: #c049f8;
}
.navy {
  background-color: #817eff;
}
.pink {
  background-color: #f74770;
}
