@font-face {
  font-family: "TT Norms Medium";
  src: url("../fonts/TTNorms/TTNorms-MediumItalic.eot");
  src: local("../fonts/TTNorms/TT Norms Medium Italic"),
    local("TTNorms-MediumItalic"),
    url("../fonts/TTNorms/TTNorms-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TTNorms/TTNorms-MediumItalic.woff") format("woff"),
    url("../fonts/TTNorms/TTNorms-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "TT Norms bold";
  src: url("../fonts/TTNorms/TTNorms-Bold.eot");
  src: local("TT Norms Bold"), local("TTNorms-Bold"),
    url("../fonts/TTNorms/TTNorms-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTNorms/TTNorms-Bold.woff") format("woff"),
    url("../fonts/TTNorms/TTNorms-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms normal";
  src: url("../fonts/TTNorms/TTNorms-Regular.eot");
  src: local("TT Norms Regular"), local("TTNorms-Regular"),
    url("../fonts/TTNorms/TTNorms-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TTNorms/TTNorms-Regular.woff") format("woff"),
    url("../fonts/TTNorms/TTNorms-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms light";
  src: url("../fonts/TTNorms/TTNorms-ExtraLight.eot");
  src: local("../fonts/TTNorms/TT Norms ExtraLight"),
    local("TTNorms-ExtraLight"),
    url("../fonts/TTNorms/TTNorms-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TTNorms/TTNorms-ExtraLight.woff") format("woff"),
    url("../fonts/TTNorms/..TTNorms-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "TT Norms normal";
}
@mixin s2-name {
  display: block;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}
@mixin s2-text {
  display: block;
  font-size: 16px;
  color: #e5e5e5;
}
@mixin text-gradient {
  background: linear-gradient(45deg, #ef8080 33%, #f0145a 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ef8080;
}
@mixin text-sect5-1 {
  font-size: 22px;
  line-height: 26px;
  color: #686887;
}
@mixin text-sect5-2 {
  font-size: 18px;
  line-height: 26px;
  color: #b3b3ba;
}
@mixin text-sect5-1-mob {
  font-size: 18px;
  line-height: 21px;
  color: #686887;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding-top: 20px;
  background: linear-gradient(
    42.01deg,
    #323264 14.33%,
    #323264 51.39%,
    #7a425e 87.53%
  );
  border: none;
  .wrap {
    width: 80%;
    margin: auto;
    .logo {
      display: block;
      width: 155px;
      padding-bottom: 10px;
      .leng-hide {
        display: none;
        width: 90px;
        padding-bottom: 5px;
        .lenguage {
          display: block;
          text-decoration: none;
          color: rgb(187, 181, 181);
          height: 25px;
          width: 30px;

          text-align: center;
          font-weight: bold;
          letter-spacing: 1px;
        }
        .active {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 25px;
          width: 30px;
          border-radius: 5px;
          color: white;
          background: #f0145a;
        }
      }
      .mob {
        display: none;
        padding-top: 10px;
      }
    }

    .header-menu {
      width: 570px;

      display: flex;
      flex-direction: column;
      align-content: stretch;
      .contacts {
        .leng {
          .lenguage {
            display: block;
            text-decoration: none;
            color: white;
            height: 25px;
            width: 30px;

            text-align: center;
            font-weight: bold;
            letter-spacing: 1px;
          }
          .active {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25px;
            width: 30px;
            border-radius: 5px;
            background: #f0145a;
          }
        }
        .adress {
          .adres {
            display: block;
            text-decoration: none;
            color: white;
            font-size: 16px;
            margin: 0px 0px 0px 0px;
          }
        }
        .numb {
          .tel {
            position: relative;
            display: block;
            color: white;
            font-weight: bold;
            width: 145px;
            text-decoration: none;
            margin-right: 10px;
            margin: 0px 0px 0px 0px;
          }
          .tel:before {
            content: "";
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: white;
            margin-left: -10px;
            margin-top: 9px;
          }
          .tel:after {
            content: "";
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: white;
            margin-left: 7px;
            margin-top: 9px;
          }
        }
      }
      .header-links {
        ul {
          padding-top: 10px;
          li {
            list-style: none;
            a {
              text-decoration: none;
              color: white;
              padding: 0px 7px;
            }
            .active {
              color: #ffffff;
              border-bottom: 1px solid #ffffff;
              padding-left: 0px;
              padding-right: 0px;
              margin-left: 7px;
            }
          }
        }
      }
    }
    .burger {
      display: none;

      justify-content: center;
      align-items: flex-end;
      .tel {
        display: block;
        color: #b3b3ba;
        font-weight: bold;
        width: 145px;
        text-decoration: none;
        margin-bottom: 10px;
      }
      .burger-icon {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    @media screen and (max-width: 1200px) {
      .logo {
        .leng-hide {
          display: flex;
        }
      }
      .header-menu {
        display: none;
      }
      .burger {
        display: flex;
      }
    }
    @media screen and (max-width: 660px) {
      .logo {
        .leng-hide {
          display: flex;
        }
        .disctop {
          display: none;
        }
        .mob {
          display: block;
          padding-bottom: 20px;
        }
      }
      .header-menu {
        display: none;
      }
      .burger {
        display: flex;
      }
    }
  }
}

.sect-2 {
  position: relative;
  background: linear-gradient(
    228.57deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
  padding-top: 100px;

  .wrap-services {
    width: 80%;
    margin: auto;
    margin-top: 80px;
    .gradient {
      @include text-gradient;
      font-size: 42px;
      line-height: 50px;
    }

    .wrap0 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      gap: 1vw;
      margin-top: 60px;
      .item {
        padding: 10px;
        .icon {
          width: 92px;
          height: 92px;
          border-radius: 20px;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 20px;
        }
        a {
          text-decoration: none;
          .icon-text-top {
            font-size: 24px;
            line-height: 28px;
            color: #24a3ff;
          }
        }

        .icon-text {
          font-size: 18px;
          line-height: 26px;
          color: #ffffff;
        }
      }
    }
    @media screen and (max-width: 790px) {
      .wrap0 {
        grid-template-columns: 1fr 1fr;
      }
    }
    @media screen and (max-width: 600px) {
      .wrap0 {
        grid-template-columns: 1fr;

        .item {
          padding: 10px;
          .mobile {
            display: flex;
            flex-direction: row;
            align-items: center;
            .icon {
              width: 64px;
              height: 64px;
              margin-bottom: 10px;
              img {
                height: 44px;
              }
            }
            .icon-text-top {
              font-size: 18px;
              line-height: 21px;
              margin-left: 10px;
            }
          }
          .icon-text {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }
}
.shedow::before {
  content: "";
  position: absolute;
  margin: auto;
  width: 96%;
  height: 20px;
  margin-left: 2%;
  background: #cacadb;
  border-radius: 0px 0px 12px 12px;
}
.shedow::after {
  content: "";
  position: absolute;
  margin: auto;
  margin-top: 20px;

  width: 93%;
  margin-left: 3.5%;
  height: 20px;
  background: #e7e7f2;
  border-radius: 0px 0px 12px 12px;
  display: flex;
}

.sect-5 {
  .wrap {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    border: 1px solid white;
    .block-row-1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .block-1 {
        width: 33, 3%;
        background: #f5f5fa;
        border: 1px solid white;
        border-radius: 20px 0px 0px 0px;

        .block-1-1 {
          padding: 0px 20px;
          border-bottom: none;
          a {
            display: block;
            font-size: 14px;
            line-height: 17px;
            text-align: start;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #f0145a;
            font-weight: bold;
            margin-top: 5%;
            margin-bottom: 4%;
            text-decoration: none;
          }
        }
        .block-1-2 {
          padding: 0px 20px;
          border-top: 1px solid white;
          .sect-text-1 {
            @include text-sect5-1;
          }
          .sect-text-2 {
            @include text-sect5-2;
          }
        }
      }
      .block-2 {
        width: 33, 3%;
        background: #f5f5fa;
        border: 1px solid white;
        padding: 0px 20px;
        .sect-text-1 {
          @include text-sect5-1;
        }
        .sect-text-2 {
          @include text-sect5-2;
        }
      }

      .block-3 {
        width: 33, 3%;
        background: #f5f5fa;
        border: 1px solid white;
        padding: 0px 20px;
        border-radius: 0px 20px 0px 0px;
        .sect-text-1 {
          @include text-sect5-1;
        }
        .sect-text-2 {
          @include text-sect5-2;
        }
      }
    }
    .block-row-2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .block-1 {
        width: 25%;
        background: #f5f5fa;
        border: 1px solid white;
        padding: 0px 20px;
        padding-top: 20px;
        border-radius: 0px 0px 0px 20px;
        .sect-text-1 {
          @include text-sect5-1;
        }
        .sect-text-2 {
          @include text-sect5-2;
        }
      }
      .block-2 {
        width: 30%;
        background: #f5f5fa;
        border: 1px solid white;
        padding: 0px 20px;
        .sect-text-1 {
          @include text-sect5-1;
        }
        .sect-text-2 {
          @include text-sect5-2;
        }
      }
      .block-3 {
        width: 45%;
        background: #f5f5fa;
        border: 1px solid white;
        padding: 0px 20px;
        border-radius: 0px 0px 20px 0px;
        .sect-text-1 {
          @include text-sect5-1;
        }
        .sect-text-2 {
          @include text-sect5-2;
        }
      }
    }
    @media screen and (max-width: 1000px) {
      .block-row-1 {
        .block-1 {
          .block-1-1 {
            padding: 0px 10px;
          }
          .block-1-2 {
            padding: 0px 10px;
            border-top: 1px solid white;
            .sect-text-1 {
              @include text-sect5-1;
            }
            .sect-text-2 {
              @include text-sect5-2;
            }
          }
        }
        .block-2 {
          padding: 0px 10px;
          .sect-text-1 {
            @include text-sect5-1-mob;
          }
        }

        .block-3 {
          padding: 0px 10px;

          .sect-text-1 {
            @include text-sect5-1-mob();
          }
        }
      }
      .block-row-2 {
        .block-1 {
          padding: 0px 10px;
          padding-top: 10px;
          .sect-text-1 {
            @include text-sect5-1-mob;
          }
        }
        .block-2 {
          padding: 0px 10px;
          .sect-text-1 {
            @include text-sect5-1-mob;
          }
        }
        .block-3 {
          padding: 0px 10px;
          .sect-text-1 {
            @include text-sect5-1-mob();
          }
        }
      }
    }
    @media screen and (max-width: 770px) {
      .block-row-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .block-1 {
          width: 100%;
          background: #f5f5fa;
          border: 1px solid white;
          border-radius: 20px 0px 0px 0px;

          .block-1-1 {
            padding: 20px;
            border-bottom: none;
            font-weight: bold;
          }
          .block-1-2 {
            padding: 20px;
            border-top: 1px solid white;
            .sect-text-1 {
              @include text-sect5-1-mob;
            }
          }
        }
        .block-2 {
          width: 100%;
          background: #f5f5fa;
          border: 1px solid white;
          padding: 20px;
          .sect-text-1 {
            @include text-sect5-1-mob;
          }
        }

        .block-3 {
          width: 100%;
          background: #f5f5fa;
          border: 1px solid white;
          padding: 20px;
          border-radius: 0px 0px 0px 0px;
          .sect-text-1 {
            @include text-sect5-1-mob;
          }
        }
      }
      .block-row-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .block-1 {
          width: 100%;
          background: #f5f5fa;
          border: 1px solid white;
          padding: 20px;
          border-radius: 0px 0px 0px 0px;
          .sect-text-1 {
            @include text-sect5-1-mob;
          }
        }
        .block-2 {
          width: 100%;
          background: #f5f5fa;
          border: 1px solid white;
          padding: 20px;
          .sect-text-1 {
            @include text-sect5-1-mob;
          }
        }
        .block-3 {
          width: 100%;
          background: #f5f5fa;
          border: 1px solid white;
          padding: 20px;
          border-radius: 0px 0px 20px 20px;
          .sect-text-1 {
            @include text-sect5-1-mob;
          }
        }
      }
    }
  }
}
.sect-6 {
  .wrap {
    width: 80%;
    margin: auto;
    a {
      display: block;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #323264;
      font-weight: bold;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
      text-decoration: none;
      margin: auto;
    }
  }
  .wrap-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    .item {
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        .mobile {
          height: 0px;
          width: 0px;
        }
      }
    }
    .item-1 {
      background: #1c4280;
    }
    .item-2 {
      background: #143646;
    }
    .item-3 {
      background: #f48b30;
    }
    .item-4 {
      background: #9e4dc3;
    }
    .item-5 {
      background: #fd9339;
    }
    .item-6 {
      background: #e2e2e4;
    }
    .item-7 {
      background: #c71c36;
    }
    .item-8 {
      background: #dcf3f9;
    }
    .item-9 {
      background: #eaeaea;
    }
    .item-10 {
      background: #282240;
    }
    .item-11 {
      background: #1d4568;
    }
    .item-12 {
      background: #000;
    }
  }
  @media screen and (max-width: 900px) {
    .wrap-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      .item {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  @media screen and (max-width: 700px) {
    .wrap-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      .item {
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          .mobile {
            height: 100%;
            width: 100%;
          }
          .normal {
            height: 0px;
            width: 0px;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  background: white;
  position: absolute;
  padding-top: 40px;
  .wrap {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .block-1 {
      .row1 {
        p {
          font-size: 16px;
          line-height: 19px;
          color: #323264;
          display: inline-block;
          font-weight: bold;
        }
        .map-link {
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #24a3ff;
          text-decoration: none;
          position: relative;
          display: inline-block;
          margin-left: 47px;
        }
        .map-link::before {
          content: "";
          position: absolute;
          height: 6px;
          width: 6px;
          border-radius: 50%;
          background: #b3b3ba;
          margin-left: -20px;
          margin-top: 4px;
        }
      }
      .row2 {
        display: flex;
        align-items: center;
        padding-bottom: 40px;
        .numb {
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          text-align: right;
          color: #46466e;
          text-decoration: none;
          margin-left: 20px;
        }
        .mail {
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          color: #24a3ff;
          text-decoration: none;
          margin-left: 30px;
          position: relative;
        }
        .mail::before {
          content: "";
          position: absolute;
          height: 6px;
          width: 6px;
          border-radius: 50%;
          background: #b3b3ba;
          margin-left: -20px;
          margin-top: 6px;
        }
      }
    }
    .block-2 {
      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        color: #b3b3ba;
      }
    }
  }
  @media screen and (max-width: 960px) {
    .wrap {
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .block-1 {
        margin: auto;
        .row1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            display: block;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
          }
          .map-link {
            display: block;
            margin-left: 0px;
            text-align: center;
            margin-bottom: 20px;
          }
          .map-link::before {
            content: "";
            display: none;
          }
        }
        .row2 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .numb {
            text-align: center;
            margin-left: 20px;
            margin-top: 20px;
          }
          .mail {
            margin-left: 0px;
            position: relative;
            text-align: center;
            margin-top: 20px;
          }
          .mail::before {
            content: "";
            display: none;
          }
        }
      }
      .block-2 {
        margin: auto;
        p {
          margin-top: 20px;
          text-align: center;
        }
      }
    }
  }
}
