@font-face {
  font-family: "TT Norms Medium";
  src: url("../fonts/TTNorms/TTNorms-MediumItalic.eot");
  src: local("../fonts/TTNorms/TT Norms Medium Italic"),
    local("TTNorms-MediumItalic"),
    url("../fonts/TTNorms/TTNorms-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TTNorms/TTNorms-MediumItalic.woff") format("woff"),
    url("../fonts/TTNorms/TTNorms-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "TT Norms bold";
  src: url("../fonts/TTNorms/TTNorms-Bold.eot");
  src: local("TT Norms Bold"), local("TTNorms-Bold"),
    url("../fonts/TTNorms/TTNorms-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTNorms/TTNorms-Bold.woff") format("woff"),
    url("../fonts/TTNorms/TTNorms-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms normal";
  src: url("../fonts/TTNorms/TTNorms-Regular.eot");
  src: local("TT Norms Regular"), local("TTNorms-Regular"),
    url("../fonts/TTNorms/TTNorms-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TTNorms/TTNorms-Regular.woff") format("woff"),
    url("../fonts/TTNorms/TTNorms-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Norms light";
  src: url("../fonts/TTNorms/TTNorms-ExtraLight.eot");
  src: local("../fonts/TTNorms/TT Norms ExtraLight"),
    local("TTNorms-ExtraLight"),
    url("../fonts/TTNorms/TTNorms-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TTNorms/TTNorms-ExtraLight.woff") format("woff"),
    url("../fonts/TTNorms/..TTNorms-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "TT Norms normal";
}
@mixin s2-name {
  display: block;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}
@mixin s2-text {
  display: block;
  font-size: 16px;
  color: #e5e5e5;
}
@mixin text-gradient {
  background: linear-gradient(45deg, #f0145a 33%, #ef8080 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f0145a;
}
@mixin text-sect5-1 {
  font-size: 22px;
  line-height: 26px;
  color: #686887;
}
@mixin text-sect5-2 {
  font-size: 18px;
  line-height: 26px;
  color: #b3b3ba;
}
@mixin text-sect5-1-mob {
  font-size: 18px;
  line-height: 21px;
  color: #686887;
}
header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding-top: 20px;
  background: white;
  .wrap {
    width: 80%;
    margin: auto;
    .logo {
      display: block;
      width: 155px;
      padding-bottom: 10px;
      .leng-hide {
        display: none;
        width: 90px;
        margin-bottom: 10px;
        .lenguage {
          display: block;
          text-decoration: none;
          color: rgb(187, 181, 181);
          height: 25px;
          width: 30px;

          text-align: center;
          font-weight: bold;
          letter-spacing: 1px;
        }
        .active {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 25px;
          width: 30px;
          border-radius: 5px;
          color: white;
          background: #f0145a;
        }
      }

      .mob {
        display: none;
        padding-top: 10px;
      }
    }

    .header-menu {
      width: 570px;

      display: flex;
      flex-direction: column;
      align-content: stretch;
      .contacts {
        .leng {
          .ali {
            padding-top: 2.5px;
          }
          .lenguage {
            display: block;
            text-decoration: none;
            color: #b3b3ba;
            height: 25px;
            width: 30px;

            text-align: center;
            font-weight: bold;
            letter-spacing: 1px;
          }
          .active {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25px;
            width: 30px;
            color: white;
            border-radius: 5px;
            background: #f0145a;
          }
        }
        .adress {
          .adres {
            display: block;
            text-decoration: none;
            color: #b3b3ba;
            font-size: 16px;
            margin: 0px 0px 0px 0px;
          }
        }
        .numb {
          .tel {
            position: relative;
            display: block;
            color: #b3b3ba;
            font-weight: bold;
            width: 145px;
            text-decoration: none;
            margin-right: 10px;
            margin: 0px 0px 0px 0px;
          }
          .tel:before {
            content: "";
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #b3b3ba;
            margin-left: -10px;
            margin-top: 6px;
          }
          .tel:after {
            content: "";
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: #b3b3ba;
            margin-left: 7px;
            margin-top: 6px;
          }
        }
      }
      .header-links {
        ul {
          padding-top: 10px;
          li {
            list-style: none;
            a {
              text-decoration: none;
              color: #24a3ff;
              padding: 0px 7px;
            }
            .pad {
              margin-left: 7px;
            }
            .active {
              color: #f0145a;
              border-bottom: 1px solid #f0145a;
              padding-left: 0px;
              padding-right: 0px;
            }
          }
        }
      }
    }
    .burger {
      display: none;

      justify-content: center;
      align-items: flex-end;
      .tel {
        display: block;
        color: #b3b3ba;
        font-weight: bold;
        width: 145px;
        text-decoration: none;
        margin-bottom: 10px;
      }
      .burger-icon {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    @media screen and (max-width: 1200px) {
      .logo {
        .leng-hide {
          display: flex;
        }
      }
      .header-menu {
        display: none;
      }
      .burger {
        display: flex;
      }
    }
    @media screen and (max-width: 690px) {
      .logo {
        .leng-hide {
          display: flex;
        }
        .disctop {
          display: none;
        }
        .mob {
          display: block;
          padding-bottom: 20px;
        }
      }
      .header-menu {
        display: none;
      }
      .burger {
        display: flex;
      }
    }
  }
}
.sect-1 {
  position: relative;
  background: #f5f5fa;
  padding-top: 150px;
  .wrap {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse !important;
    .menu {
      .nav {
        text-align: center !important;
        background: #e6e6f0;
        display: flex;
        flex-direction: row !important;
        width: 300px;
        height: 50px;
        border-radius: 15px;
        margin: auto !important;
        .nav-link {
          display: flex !important;
          justify-content: center !important;
          color: #323264;
          font-size: 18px;
          line-height: 21px;
          width: 50%;
          font-family: "TT Norms bold" !important;
          border-radius: 15px !important;
          text-align: center !important;
          padding-top: 12px !important;
        }
        .active {
          background: white;
          border: 2px solid #e6e6f0;
          border-radius: 15px !important;
        }
      }
      .tab-content {
        margin-top: 40px;
        .tab-pane {
          columns: 3;

          .cell {
            border-radius: 10px;
            width: 93%;
            margin: auto;
            margin-bottom: 20px;
            background: white;
            img {
              width: 100%;
            }
            .content {
              padding: 20px;
              .top {
                border-bottom: 4px solid #e6e6f0;
                a {
                  font-size: 18px;
                  line-height: 21px;
                  color: #24a3ff;
                  text-decoration: none;
                }
                p {
                  font-size: 12px;
                  line-height: 14px;
                  letter-spacing: 1px;
                  text-transform: uppercase;
                  color: #b3b3ba;
                  margin-top: 10px;
                }
              }
              p {
                font-size: 16px;
                line-height: 22px;
                color: #000000;
                margin-top: 20px;
              }
            }
          }
          .cell-0 {
            width: 93%;
            background: #ef8080;
            height: 250px;
          }
          .cell-0-0 {
            width: 93%;
            background: #bbef80;
            height: 100px;
          }
        }
      }
    }
    @media screen and (max-width: 800px) {
      .menu {
        .tab-content {
          margin-top: 40px;
          .tab-pane {
            columns: 2;
          }
        }
      }
    }
    @media screen and (max-width: 600px) {
      .menu {
        .tab-content {
          margin-top: 40px;
          .tab-pane {
            columns: 1;
            .hide {
              display: none;
            }
          }
        }
      }
    }
  }
}
.sect-2 {
  background: #f5f5fa;
  padding: 20px 0px 0px 0px;
  .wrap-but {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
    border-bottom: 2px solid #c6c6ca;
    .btn-pub {
      width: 250px;
      height: 50px;
      font-size: 14px;
      line-height: 17px;
      color: white;
      background: #24a3ff;
      box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
      border-radius: 12px;
      border: none;
      margin: auto;
    }
  }
}
footer {
  width: 100%;
  background: #f5f5fa;
  position: absolute;
  padding-top: 30px;
  .wrap {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .block-1 {
      .row1 {
        p {
          font-size: 16px;
          line-height: 19px;
          color: #323264;
          display: inline-block;
          font-weight: bold;
        }
        .map-link {
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #24a3ff;
          text-decoration: none;
          position: relative;
          display: inline-block;
          margin-left: 47px;
        }
        .map-link::before {
          content: "";
          position: absolute;
          height: 6px;
          width: 6px;
          border-radius: 50%;
          background: #b3b3ba;
          margin-left: -20px;
          margin-top: 4px;
        }
      }
      .row2 {
        display: flex;
        align-items: center;
        padding-bottom: 40px;
        .numb {
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          text-align: right;
          color: #46466e;
          text-decoration: none;
          margin-left: 20px;
        }
        .mail {
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          color: #24a3ff;
          text-decoration: none;
          margin-left: 30px;
          position: relative;
        }
        .mail::before {
          content: "";
          position: absolute;
          height: 6px;
          width: 6px;
          border-radius: 50%;
          background: #b3b3ba;
          margin-left: -20px;
          margin-top: 6px;
        }
      }
    }
    .block-2 {
      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        color: #b3b3ba;
      }
    }
  }
  @media screen and (max-width: 960px) {
    .wrap {
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-bottom: 118px;
      .block-1 {
        margin: auto;
        .row1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          p {
            display: block;
            font-weight: bold;
            text-align: center;
            margin-bottom: 10px;
          }
          .map-link {
            display: block;
            margin-left: 0px;
            text-align: center;
            margin-bottom: 20px;
          }
          .map-link::before {
            content: "";
            display: none;
          }
        }
        .row2 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .numb {
            text-align: center;
            margin-left: 20px;
            margin-top: 20px;
          }
          .mail {
            margin-left: 0px;
            position: relative;
            text-align: center;
            margin-top: 20px;
          }
          .mail::before {
            content: "";
            display: none;
          }
        }
      }
      .block-2 {
        margin: auto;
        p {
          margin-top: -10px;
          text-align: center;
        }
      }
    }
  }
}
